body{
  margin-top: 4rem;
}
.App {
  text-align: center;
}

.App-link {
  color: #09d3ac;
}
.container{
    background-color: gray;
}
.navbar {
    background-color: black;
}
.column{
    float: left;
    width: 25%;
    padding: 0 10px;
}
.row{
    margin: 0 -5px;
}
.row:after{
    content: "";
    display: block;
    clear: both;
}
